# these libs are requested to build common python libs
# if you are an advance user and are sure to not use them you can comment the following lines
wheel
Cython
pybind11

# if you require GDAL and or pyproj in your module please uncomment these lines
# there are set up to be inlined with SEPAL implementation of GDAL and PROJ version
GDAL==3.4.0
pyproj<3.0.0

# uncomment if you want to run your module with GEE in SEPAL
git+git://github.com/openforis/earthengine-api.git@v0.1.270#egg=earthengine-api&subdirectory=python

# the base lib to run any sepal_ui based app
# don't forget to fix it to a specific version when you're app is ready
sepal_ui==2.5.5

# custom libs
click==8.0.0
geopandas==0.10.2
ipyleaflet==0.13.3
ipyvuetify==1.8.1
ipywidgets==7.6.5
matplotlib==3.1.2
natsort==8.0.2
numpy==1.22.1
pandas==1.4.0
PyPDF2==1.26.0
rasterio==1.2.10
requests==2.22.0
Shapely==1.8.0
traitlets==5.1.1
Unidecode==1.3.2
Wand==0.6.7
